body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FBF8BE;
  line-height: 1.4rem;
  margin: 0;
  padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  color: rgb(0, 0, 0);
}

h1{
  padding: 15px;
}


.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.topnav{
  background-color: #000000;
  color: #FBF8BE;
}

.topnav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding:1rem 0;
}

.topnav ul li {
  flex: 1;
  text-align: center;
}

.topnav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.3rem;
  
}
 .topnav ul li a:hover{
color: aliceblue;

 }

form input {

  border-radius: 55px;

}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  padding: 10px;
  box-sizing: border-box;
  border: 0.1px solid lightgray;
  opacity: 0.4;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
  padding: 1px;
}

form button {
  background: none;
  border: 1px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

.backtotop {

  margin-top: 30px;
  text-align: right;
opacity: 0.7;
}


footer {
  font-size: 0.7em;
  padding: 2rem 0;
  text-align: center;
}